//  Example 1
.caption-style-1 li:hover .caption {
	opacity: 1;
}
.caption-style-1 .caption{
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition:all 0.45s ease-in-out;
	-moz-transition:all 0.45s ease-in-out;
	-o-transition:all 0.45s ease-in-out;
	-ms-transition:all 0.45s ease-in-out;
	transition:all 0.45s ease-in-out;
}
.caption-style-1 .blur{
	background-color: rgba(0,0,0,0.65);
	height: 300px;
	width: 400px;
	z-index: 5;
	position: absolute;
}
.caption-style-1 .caption-text h1{
	text-transform: uppercase;
	font-size: 24px;
}
.caption-style-1 .caption-text{
	z-index: 10;
	color: #fff;
	position: absolute;
	width: 400px;
	height: 300px;
	text-align: center;
	top:100px;
}
	
