// example 4
.caption-style-4{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	
}

.caption-style-4 li{
	float: left;
	padding: 0px;
	position: relative;
	overflow: hidden;
}

.caption-style-4 li:hover .caption{
	opacity: 1;
}

.caption-style-4 li:hover img{
	opacity: 1;
	transform: scale(1.15,1.15);
	-webkit-transform:scale(1.15,1.15);
	-moz-transform:scale(1.15,1.15);
	-ms-transform:scale(1.15,1.15);
	-o-transform:scale(1.15,1.15);
}


.caption-style-4 img{
	margin: 0px;
	padding: 0px;
	float: left;
	z-index: 4;
}


.caption-style-4 .caption{
	cursor: pointer;
	position: absolute;
	opacity: 0;
	-webkit-transition:all 0.45s ease-in-out;
	-moz-transition:all 0.45s ease-in-out;
	-o-transition:all 0.45s ease-in-out;
	-ms-transition:all 0.45s ease-in-out;
	transition:all 0.45s ease-in-out;
}

.caption-style-4 img{
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}
.caption-style-4 .blur{
	background-color: rgba(0,0,0,0.65);
	height: 300px;
	width: 400px;
	z-index: 5;
	position: absolute;
}

.caption-style-4 .caption-text h1{
	text-transform: uppercase;
	font-size: 24px;
}
.caption-style-4 .caption-text{
	z-index: 10;
	color: #fff;
	position: absolute;
	width: 400px;
	height: 300px;
	text-align: center;
	top:100px;
}
